<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CM.DAL.Properties.Settings.CAFEMANAGEMENTConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=CAFEMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CM.DAL.Properties.Settings.CAFEMANAGEMENTConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=CAFEMANAGEMENT;User ID=thanhchinguyenpk;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="CM.DAL.Properties.Settings.CAFEMANAGEMENTConnectionString2"
            connectionString="Data Source=OANHNGUYEN-PC\THANHCHINGUYENPK;Initial Catalog=CAFEMANAGEMENT;User ID=thanhchinguyenpk;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>