<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CM.DAL.Properties.Settings.CAFETERIAMANAGEMENTConnectionString"
            connectionString="Data Source=DESKTOP-LEUEET4;Initial Catalog=CAFETERIAMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>